.col-xs-1-5, .col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
.col-xs-1-5 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-1-5 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-1-5 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-1-5 {
		width: 20%;
		float: left;
	}
}

.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	float:none;
	/* reset the text-align */
	text-align:left;
	/* inline-block space fix */
	margin-right:-4px;
}
#wrapper {
	background: #222;
	h1 {
		color: white;
	}
}
.news-articles {
	margin-bottom: 20px;
	max-width: 240px;
	.content-details {
		background: #484848;
		padding: 5px;
		> a {
			display: block;
		}
		a {
			color: white;
			text-decoration: none;
			font-weight: bold;
			transition: .3s;
			&:hover {
				color: #7F7F7F;
			}
		}
		p {
			color: white;
			i {
				padding-right: 5px;
				font-size: .7em;
			}
		}
	}
	img {
		border-radius: 10px 10px 0 0;
		display: block;
		width: 100%;
		max-width: 100%;
	}
}